@import "reset.css" layer(reset);

/* wireframe mode */
/* *>* {
    outline: 2px solid red;
} */

html {
    font-size: calc(15px + 0.390625vw);
}


body {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

@media screen and (min-width: 600px) {
    body {
        align-items: center;
    }
}

.container {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.title {
    margin-bottom: 20px;
    font-size: 2.5rem;
    outline: 1px solid #D8D8D8;
    padding: 1rem;
    text-transform: uppercase;
}

/* #searchInput {
    width: 300px;
    height: 20px;
    padding: 10px;
    font-size: 18px;
} */

.search-input {
    border: 2px solid black;
    border-radius: 100vmax;
    padding: .5rem 0 .5rem .75rem;
}

.button-container {
    display: flex;
    padding-top: .5rem;
}

button, input[type="submit"] {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;    border-radius: 100vmax;
    border: 2px solid black;
    padding: .5rem 1rem;
    margin: auto .5rem auto 0;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: 800;
}

button:hover {
    background-color: #D8D8D8;
}

button>i {
    margin-left: .5rem !important;
}

.add-button {
    background-color: #06D6A0;
    opacity: 0.6;
    transition: 0.3s;
}

.add-button:hover {
    opacity: 1;
    background-color: #06D6A0;
}

#searchButton {
    background-color: #54C6EB;
    opacity: 0.6;
    transition: 0.3s;
}

#searchButton:hover {
    opacity: 1;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if necessary */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1.5rem 8rem;
    border: 1px solid #888;
    width: 80%;
}

.modal-content form {
    display: grid;
}

.modal-content form>input:not([type='submit']), .modal-content form>textarea {
    border: 1px solid #aaaaaa;
    padding: .5rem 0 .5rem .75rem;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -20px;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
