@import "reset.css" layer(reset);

/* wireframe mode */
/* *>* {
    outline: 2px solid red;
} */

html {
    /* font-size: calc(15px + 0.390625vw); */
    font-size: clamp(1rem, 2.5vw, 2rem);
}

:root {
    --color-scheme: light dark;
}

  .light-mode {
    --color-scheme: light;
  }

@media (prefers-color-scheme: light) {
	:root {
        color-scheme: light;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme:  dark;
	}
}

html {
    color-scheme: var(--color-scheme);
}

body {
    color-scheme: var(--color-scheme);
    line-height: clamp(1.15rem, 2.5vw, 2rem) !important;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 0 2rem;
    width: 100%;
    overflow: auto;
    container-type: normal;
    container-name: container;
}

@container container (min-width: 40rem) {
    .container>* {
        width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.toolbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(239, 239, 239);
    margin-bottom: 1rem;
}

@media (prefers-color-scheme: light) {
	:root {
        color-scheme: light;
	}
}

@media (prefers-color-scheme: dark) {
	.toolbar {
        background-color: hsl(0, 0%, 24%);
	}
}

.title {
    font-size: 1rem;
    font-weight: 900;
    padding: 1rem;
    text-transform: uppercase;
}

.search {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1rem;
    width: auto;
/*     position: sticky;
    top: 0;
    z-index: 999; */
}

@media screen and (min-width: 1200px) {
    .search {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}

.toolbar > .title {
    flex: 1;
}

.hideInput {
    display: none;
}

fieldset div:last-of-type:has(.hideInput) {

}

.search-field {
    display: flex;
    flex-direction: column;
}


.search-input {
    border: 2px solid;
    border-radius: 100vmax;
    padding: .5rem 0 .5rem 1rem;
    height: 60px;
    min-height: 60px;
}

.button-container {
    display: flex;
    padding-top: .5rem;
}

button,
input[type="submit"] {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-radius: 100vmax;
    border: 2px solid black;
    padding: .5rem 1rem;
    margin: auto .5rem auto 0;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: 800;
}

button:hover {
    background-color: #D8D8D8;
}

button>i {
    margin-left: .5rem !important;
}

.add-button {
    background-color: #00f99d;
    transition: all 0.3s;
    max-width: 300px;
    position: fixed;
    right: 2rem;
    bottom: 5vh;
    z-index: 999;
    box-shadow: 0 0 15px 2.5px #00f99d;
    color: black;
}

dialog .add-button {
    position: unset;
    margin-top: 1rem;
    box-shadow: none;
}

.add-button:hover {
    background-color: #beff0d;
    box-shadow: 0 0 25px 7.5px #beff0d;
}

#searchButton {
    border: 2px solid;
    background-color: #7241ff;
    transition: 0.3s;
    margin: 10px;
    right: 0;
    width: 80px;
    height: 40px;
    align-self: flex-end;
    margin-top: -50px;
    color: white;
}

@media (prefers-color-scheme: light) {
    #searchButton {
        outline: 1px solid black;
    }
}

#searchButton:hover {
    background-color: #4422ca;
}

@media screen and (min-width: 600px) {
    #searchButton, .add-button {
        width: clamp(200px, 20vw, 300px);
    }
    #searchButton {
        height: 40px;
    }
}

.search-label {
    display: none;
}

@media screen and (min-width: 600px) {
    .search-label {
        display: block;
    }
}

.gg-search {
    margin: 0 !important;
}

.filter-container {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    border-radius: 40px;
    background-color: rgb(59, 59, 59);
    padding-inline-start: 0;
    padding: 0 1rem;
    gap: clamp(.25rem, .5rem, .75rem);
}
.filter-container > li {
    line-height: initial;
    font-size: clamp(.25rem, 1rem, 20px);
}

table {
    width: auto;
    margin-top: 1rem;
    display: none;
    flex-direction: column;
    overflow: inherit;
}

table>* {
    width: 100%;
}

table * {
    border-collapse: collapse;
}

tr {
    border: 2px solid;
    border-bottom: none;
}

tr:last-of-type {
    border-bottom: 2px solid;
}

thead {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: field;
}

thead th {
    grid-column-end: span 2;
    justify-self: flex-end;
    padding-right: .5rem;
    font-size: .75rem;
}

tr {
    display: grid;
    grid-auto-flow: dense;
}

@media screen and (min-width: 600px) {
    tr {
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
    }
}

.row {
    transition: all 0.1s ease-in-out;
}

.row:hover {
}

.row:last-of-type {
    padding-bottom: .5rem;
}

.row > td {
    border: 0;
    padding: .5rem .5rem .75rem .5rem;
    position: relative;
    display: grid;
    gap: 1rem;
}

.row a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
    display: flex;
    text-decoration: none;
    font-weight: 700;
    color: inherit;
    background:
    linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
    ),
    linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.row a:hover {
    background-size: 0 3px, 100% 3px;
}

.img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    outline: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.img-container img {
    display: inline-block;
    position: relative;
    width: auto;
    height: 300px;
    border: 1px solid #000;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.img-circle {
    clip-path: circle(30%);
}

.category-container {
    display: flex;
    height: fit-content;
}

.modal {
    width: 100vw;
    max-width: max(75vw, 600px);
    margin: 0;
}

@media screen and (min-width: 600px) {
    .modal {
        margin: 15vh auto 0 auto;
    }
}

dialog::backdrop {
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(5px);
    transition: all .5s ease;
}

.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-sizing: border-box;
}

fieldset {
    padding: 2rem;
}

legend {
    font-weight: bold;
    font-size: 1.5rem;
}

.modal-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

.add-tool-input {
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 4px;
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
}

/* responsive styles */
@media (max-width: 768px) {
    .modal-content {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 100%;
    }

    .modal {
        padding-top: 50px;
    }
}


.input-wrapper {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #cccccc;
}

.filter {
    display: flex;
    align-items: flex-start;
}

.badge-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.badge {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 50px;
    margin-right: 5px;
    font-size: .75rem;
}

.badge-small {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: #067c3b;
    color: white;
    border-radius: 50px;
    margin-right: 5px;
    font-size: .75rem;
}

.badge-small span,
.badge span {
    margin-right: 5px;
}

.badge-small span.remove,
.badge span.remove {
    cursor: pointer;
    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: #007bff;
    text-align: center;
    line-height: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    margin: auto;
}

.badge-small.result,
.badge.result {
    width: max-content;
    margin-top: .25rem;
}

#tagAutoCompleteInput,
#categoryAutoCompleteInput {
    border: none;
    flex-grow: 1;
}

#tagAutoCompleteInput:focus,
#categoryAutoCompleteInput:focus {
    outline: none;
}

.auto-complete-item {
    cursor: pointer;
    border: 1px solid #cccccc;
    padding: 5px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    min-width: 250px;
    background-color: #ca1b1b;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    font-size: 17px;
    margin: auto auto 2vh auto;
    border: none;
}

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }


/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }